@import './common';
@import './basic';

.Header {
    @include position(fixed, 0 0 auto 0, 0, 0, 99);
    line-height: 80px;
    height: 80px;
    font-size: 20px;
    background: $rgba_bg;
    border-bottom: $m_border;

    h1 {
        img {
            transform: translate(0, -3px);
        }
    }

    a {
        display: block;
        padding: 0 15px;
    }

    .inner {

        @include row;
        @include inner;
        justify-content: space-between;

        .gnb {
            margin-left: -15px;

            &>ul {
                @include row;

                &>li {

                    &:hover .sub_menu {
                        @include event_op(1, visible);
                    }

                    .sub_menu {
                        @include position(absolute, 80px 0 auto 0, 0, 0, auto);
                        @include row($gap: 30px);
                        line-height: 40px;
                        font-size: 16px;
                        gap: 70px;
                        width: 1320px;
                        margin: 0 auto;
                        height: 220px;
                        padding: 10px 0;

                        @include event_op(0, hidden);
                        transition: 0.5s;

                        &::after {
                            content: "";
                            @include position(absolute, 0 0 auto 50%, -50%, 0, -1);
                            display: block;
                            width: 100vw;
                            background: $rgba_bg;
                            height: 220px;
                        }

                        a {
                            padding: 0;
                        }

                        ul {
                            flex-direction: column;
                            gap: 0;
                        }
                    }
                }
            }

            .bar {
                display: none;
            }
        }

        .right_menu {
            @include row;
            margin-right: -15px;

            .cart {
                span {
                    display: inline-block;
                    margin-left: 3px;
                    color: #fff;
                    background: $maincolor;
                    font-size: 14px;
                    line-height: 20px;
                    width: 20px;
                    text-align: center;
                    border-radius: 50%
                }
            }

            button {
                @include btn;
            }

            .search {
                display: block;
                line-height: 80px;
                padding: 0 15px;
            }

            .search_case {
                @include position(absolute, 80px 0 0 auto, 100%, 0, 99);
                background: $rgba_bg;
                height: calc(100vh - 80px);
                padding: 100px 30px;
                font-size: 16px;
                line-height: 30px;
                transition: 0.5s;

                &.on {
                    transform: translate(0, 0);
                }

                form {
                    margin-bottom: 50px;

                    input {
                        @include btn;
                        border-bottom: 1px solid #333;
                        margin-right: 10px;
                    }

                    button {
                        font-size: 20px;
                    }
                }

                .close {
                    @include position(absolute, 30px 30px auto auto, 0, 0, auto);
                    font-size: 20px;
                }

                span {
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include tablet {
        h1 {
            a {
                img {
                    min-width: 200px;
                }
            }
        }

        .inner {
            .gnb {
                margin-left: 0;

                &>ul {
                    @include position(absolute, 80px auto 0 0, -100%, 0, 99);
                    background: #fff;
                    width: 250px;
                    height: calc(100vh - 80px);
                    flex-direction: column;
                    transition: 0.5s;

                    &.on {
                        transform: translate(0, 0);
                    }

                    &>li {
                        line-height: 60px;
                        font-weight: 500;
                        font-size: 20px;

                        .sub_menu {
                            @include position(static, 80px 0 auto 0, 0, 0, auto);
                            @include row($gap: 0);
                            flex-direction: column;
                            font-size: 16px;
                            gap: auto;
                            width: auto;
                            height: auto;
                            padding: 0 15px;
                            font-weight: 400;
                            @include event_op(1, visible);
                            transition: none;

                            &::after {
                                display: none;
                            }

                            ul {
                                flex-direction: column;
                                gap: 0;
                            }
                        }
                    }
                }

                .bar {
                    display: block;
                    @include btn;
                    line-height: 80px;
                    font-size: 24px;
                }
            }

            .right_menu {
                margin: 0;

                .cart {
                    position: relative;

                    span {
                        @include position(absolute, 20px -2px auto auto, 0, 0, auto);
                        margin-left: 0;
                    }
                }

                button {
                    @include btn;
                }
            }
        }
    }


    @include mobile {
        font-size: 18px;

        h1 {
            a {
                img {
                    min-width: auto;
                    max-width: 200px;
                }
            }
        }

        .inner {
            .right_menu {
                margin: 0;

                .search,
                .lang {
                    display: none;
                }
            }
        }
    }
}

.MainVisual {
    position: relative;

    .slide {
        position: relative;
        height: 100vh;
        text-align: center;

        .txt_case {
            @include position(absolute, auto auto 100px 50%, -50%, 0, auto);
            color: #fff;

            h2 {
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                margin-bottom: 10px;
            }

            span {
                display: block;
                margin-bottom: 50px;
                font-size: 20px;
            }

            a {
                font-size: 20px;
                padding-bottom: 3px;
                border-bottom: 1px solid #fff;
            }
        }
    }

    @for $i from 1 to 3 {
        .slide0#{$i} {
            background: url(../../public/image/mainVisual0#{$i}.jpg) no-repeat center center/cover;
        }
    }

    .controller {
        @include position(absolute, auto auto 73px 50%, 0, 0, auto);
        margin: 0 0 0 -668px;

        button {
            @include btn;
            color: #fff;
            font-size: 30px;

            &.pause {
                font-size: 48px;

                &>.on {
                    display: none;
                }
            }
        }
    }

    @include tablet {
        .slide {

            .txt_case {
                @include position(absolute, auto 15px 200px 15px, 0, 0, auto);

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                }

                span {
                    margin-bottom: 30px;
                    font-size: 16px;
                }

                a {
                    font-size: 20px;
                }
            }
        }

        @for $i from 1 to 3 {
            .slide0#{$i} {
                background: url(../../public/image/mainVisual0#{$i}_mo.jpg) no-repeat center center/cover;
            }
        }

        .controller {
            @include position(absolute, auto auto 23px 15px, 0, 0, auto);
            margin: 0 0 0 0;
        }
    }

    @include mobile {
        .slide {
            height: 80vh;
            text-align: left;

            .txt_case {
                @include position(absolute, auto 15px 50px 15px, 0, 0, auto);
            }
        }

        .controller {
            @include position(absolute, auto 15px 23px auto, 0, 0, auto);
        }
    }
}

.MainTab {
    @include sec;

    .inner {
        @include inner;
        @include row($gap: 100px);

        .tabMenuCase {
            h2 {
                font-size: 44px;
                margin-bottom: 20px;
            }

            .tabMenu {
                li {
                    font-size: 20px;

                    a {
                        display: block;
                        padding: 5px 0;

                        &.active {
                            color: $maincolor;
                        }

                    }
                }
            }
        }

        .tabContent {
            position: relative;
            overflow: hidden;

            .slidelist {

                .itm {
                    @include itm(215px);
                    text-align: center;
                    padding: 10px;

                    figure {
                        border: $m_border;
                    }

                    .itmTit {
                        font-size: 18px;
                        margin-bottom: 10px;
                        min-height: 54px;
                    }
                }

                .slick-dots {
                    @include dots;
                }
            }
        }
    }

    @include tablet {
        .inner {
            @include row($gap: 0);
            flex-direction: column;

            .tabMenuCase {
                h2 {
                    text-align: center;
                }

                .tabMenu {
                    @include row;
                    justify-content: center;
                    margin-bottom: 30px;

                    li {
                        a {
                            display: block;
                            padding: 5px 10px;
                        }
                    }
                }
            }

            .tabContent {
                .slidelist {

                    .itm {
                        @include itm(180px);
                        text-align: center;
                        padding: 10px;

                        .itmTit {
                            font-size: 16px;
                            margin-bottom: 10px;
                            min-height: 50px;
                        }
                    }
                }
            }
        }
    }

    @include mobile {
        .inner {
            .tabContent {
                .slidelist {
                    .itm {
                        @include itm(240px);

                        .itmTit {
                            font-size: 16px;
                            margin-bottom: 10px;
                            min-height: 40px;
                        }
                    }
                }
            }
        }
    }
}

.MainBanner {
    position: relative;
    padding: 170px 0;

    &::before {
        content: "";
        @include position(absolute, 0 0 0 0, 0, 0, -1);
        background: url(../../public/image/mainBanner.jpg) no-repeat center center /cover;
        filter: grayscale(1);
    }

    .inner {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 1px #333;

        h2 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            margin-bottom: 30px;
        }

        a {
            display: inline-block;
            font-size: 24px;
            padding-bottom: 3px;
            border-bottom: 1px solid #fff;
        }
    }

    @include tablet {
        padding: 100px 0;

        &::before {
            background: url(../../public/image/mainBanner.jpg) no-repeat center bottom /cover;
            filter: grayscale(1);
        }

        .inner {
            h2 {
                font-size: 36px;
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;
            }

            a {
                font-size: 20px;
            }
        }
    }

    @include mobile {
        padding: 80px 0;

        .inner {
            h2 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
            }

            a {
                font-size: 20px;
            }
        }
    }
}

.MainList {
    @include sec;

    .inner {
        @include inner;

        .CateTit {
            margin-bottom: 50px;
            text-align: center;

            h2 {
                font-size: 44px;
                margin-bottom: 10px;
            }

            a {
                font-size: 14px;

                span {
                    font-size: 24px;
                    margin-right: 5px;
                }
            }
        }

        .list {
            @include row ($gap: 30px);

            .itm {
                @include itm(200px);
                flex: 1;
                text-align: center;

                figure {
                    border: $m_border;
                }

                .itmTit {
                    font-size: 18px;
                    min-height: 32px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    @include tablet {
        .inner {
            .list {
                @include row ($gap: 30px);
                flex-wrap: wrap;

                .itm {
                    @include itm(200px);
                    flex: 1 0 25%;

                    .itmTit {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @include mobile {
        .inner {
            .list {
                @include row ($gap: 30px);
                flex-wrap: wrap;

                .itm {
                    @include itm(150px);
                    flex: 1 0 30%;

                    .itmTit {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.MainAbout {
    @include sec;
    background: #f9f9f9 url(../../public/image/sec_bg.png) no-repeat;
    text-align: center;

    figure {
        height: 70px;
        margin-bottom: 30px;

        img {
            height: 100%;
        }
    }

    p {
        font-size: 30px;
        font-weight: 500;
        color: $maincolor;
        margin-bottom: 20px;
    }

    a {
        font-size: 12px;

        span {
            font-size: 20px;
            margin-right: 5px;
        }
    }

    @include tablet {
        background: #f9f9f9 url(../../public/image/sec_bg.png) no-repeat center center/cover;
    }
}

.Footer {
    padding: 50px 0;
    background: #ededed;
    color: #555;
    font-size: 15px;

    .inner {
        @include inner;
        margin-bottom: 20px;
        word-break: keep-all;

        .foot_left {
            @include row($gap: 20px);
            margin-bottom: 10px;
        }

        .foot_right {
            @include row($gap: 20px);
        }
    }

    .copy {
        @include inner;
        font-size: 13px;
    }

    @include tablet {
        .inner {
            @include inner;

            .foot_left {
                @include row($gap: 0 30px);
                flex-wrap: wrap;
                line-height: 1.4;
                margin-bottom: 10px;
            }

            .foot_right {
                @include row($gap: 0 30px);
                flex-wrap: wrap;
                line-height: 1.4;
                margin-bottom: 10px;
            }
        }
    }

    @include mobile {
        .inner {
            @include inner;

            .foot_left {
                flex-direction: column;
            }

            .foot_right {
                flex-direction: column;
            }
        }
    }
}

.About {
    padding: 230px 0 150px 0;
    background: url(../../public/image/sec_bg.png) no-repeat center center/cover;
    text-align: center;
    font-size: 20px;
    word-break: keep-all;

    .inner {
        @include inner;
    }

    .tit {
        margin-bottom: 50px;

        span {
            display: block;
            font-size: 28px;
            margin-bottom: 20px;
        }

        h2 {
            width: 400px;
            margin: 0 auto 20px auto;

            img {
                @include img(auto);
            }
        }
    }

    .desc {
        em {
            display: block;
            color: $maincolor;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p {
            width: 400px;
            margin: 0 auto 20px auto;
        }

        li {
            line-height: 1.4;
        }
    }

    @include mobile {
        padding: 230px 0 150px 0;
        background: url(../../public/image/sec_bg.png) no-repeat center center/cover;
        font-size: 16px;

        .tit {

            span {
                font-size: 24px;
            }

            h2 {
                max-width: 300px;
            }
        }

        .desc {
            em {
                font-size: 24px;
            }

            p {
                width: auto;
            }
        }
    }
}