@import './common';
@import './basic';
@import './page';


// pages

.detailItm {
    @include detail;
    min-height: 82vh;

    .inner {
        @include inner;
        @include row($gap: 100px);

        figure {
            width: 400px;

            img {
                @include img(450px);
                border: $m_border;
                padding: 50px;
            }
        }

        .des_case {
            flex: 1;
        }

        strong {
            display: block;
            margin-bottom: 20px;
            font-size: 44px;
        }

        .color {
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            padding-right: 200px;
            margin-bottom: 50px;
        }

        button {
            @include btn;
            font-size: 24px;
            border-bottom: 1px solid #333;
        }
    }

    @include tablet {
        .inner {
            @include row($gap: 50px);
            flex-direction: column;
            text-align: center;

            figure {
                margin: 0 auto;
            }

            p {
                padding: 0 50px;
                margin-bottom: 30px;
            }
        }
    }

    @include mobile {
        .inner {
            @include row($gap: 50px);
            flex-direction: column;
            text-align: center;

            figure {
                width: auto;
                min-width: 250px;
                max-width: 350px;

                img {
                    @include img(300px);
                    padding: 30px;
                }
            }


            strong {
                font-size: 36px;
            }

            p {
                font-size: 16px;
                padding: 0 20px;
            }

            button {
                font-size: 20px;
            }
        }
    }
}


.Cart {
    @include detail;
    min-height: 82vh;

    .inner {
        @include inner;
        text-align: center;

        h2 {
            font-size: 50px;
            margin-bottom: 50px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            border-top: $m_border;
            border-bottom: $m_border;
            line-height: 50px;
        }

        tbody {
            tr {
                border-bottom: $m_border;

                &.none {
                    line-height: 100px;
                    text-align: center;
                }
            }

            .img_case {
                width: 120px;

                img {
                    @include img(120px);
                    padding: 10px;
                }
            }

            button {
                @include btn;
                border: $m_border;
                margin-left: 5px;
                padding: 0 3px;
                vertical-align: -1px;
            }
        }

        .total {
            display: block;
            margin-top: 30px;
            text-align: right;
        }
    }

    @include mobile {
        @include detail;
        min-height: 65vh;

        .inner {

            h2 {
                font-size: 44px;
            }

            thead {
                line-height: 40px;
            }

            tbody {

                &.none {
                    line-height: 80px;
                }
            }

            .img_case {
                width: 80px;

                img {
                    @include img(80px);
                }
            }

            .name {
                max-width: 150px;
            }
        }
    }
}



.CateList {
    @include detail;
    @include inner;
    min-height: 82vh;

    .CateTit {
        display: block;
        text-align: center;
        margin-bottom: 50px;

        h2 {
            font-size: 50px;
            margin-bottom: 50px;
        }

        .service {
            @include row;
            justify-content: space-between;

            &>ul {
                @include row($gap: 20px);

                &.sub {
                    font-size: 20px;
                }

                &.sort {
                    margin-left: auto;
                }
            }
        }
    }

    .list {
        @include row($display: grid, $gap: 30px);
        grid-template-columns: repeat(6, 1fr);
        text-align: center;

        .itm {
            @include itm(200px);

            figure {
                border: $m_border;
            }

            a {
                @include row;
                flex-direction: column;
            }


            .itmTit {
                margin-bottom: 10px;
                min-height: 32px;
            }

            .color {
                margin-bottom: 10px;
            }

            .itmPrice {
                align-items: flex-end;
            }
        }
    }

    .more {
        @include btn;
    }

    @include tablet {
        .list {
            grid-template-columns: repeat(4, 1fr);

            .itm {
                @include itm(125px);

                .itmTit {
                    word-break: break-all;
                }

                .color {
                    height: 32px;
                    margin-bottom: 10px;
                }

                .itmPrice {
                    align-items: flex-end;
                }
            }
        }
    }

    @include mobile {
        .CateTit {
            h2 {
                margin-bottom: 30px;
            }

            .service {
                flex-direction: column;
                align-items: center;

                &>ul {
                    &.sub {
                        margin-bottom: 20px;
                    }

                    &.sort {
                        margin-left: 0;
                    }
                }
            }
        }

        .list {
            @include row($display: grid, $gap: 10px);
            grid-template-columns: repeat(3, 1fr);

            .itm {
                @include itm(120px);

                .itmTit {
                    margin-bottom: 10px;
                }
            }
        }
    }
}